<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Welcome to <%= title %></h2>
    <a href="/login"><button>LOGIN</button></a>
    <a href="/register"><button>REGISTER</button></a>
    <div>

      <h3>Character Name: <%= person.name %></h3>
      <h3>Character Weight:<%= person.mass %></h3>
      <h3>Character Birth Year:<%= person.birth_year %></h3>
    </div>
  </body>
</html>
